/* Hero CSS */
.hero {
  display: flex;
  padding: 0 15vw 5vw 15vw;
  justify-content: center;
}

.container2 {
  max-width: 600px;
}

img {
  max-width: 600px;
}

.header-text {
  margin: 15vh 0 20px 0;
  color: #d35400;
  font-size: 44px;
  font-family: "europa", sans-serif;
}

.title-text {
  margin: 0 0 20px 0;
  color: #2980b9;
  font-size: 44px;
  font-family: "europa", sans-serif;
}

.body-text {
  margin-bottom: 10px;
  color: #7f8c8d;
  font-size: 22px;
  font-family: "europa", sans-serif;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
  .hero {
    flex-direction: column-reverse; /* Stack content vertically */
    margin-top: 20vh;
  }

  .header-text,
  .title-text {
    text-align: center;
    margin: 0 0 10px 0;
    font-size: 32px;
  }

  .body-text {
    text-align: center;
    margin: 0;
    font-size: 18px;
  }
}
